<launch>
    
    <node pkg="rosbag" type="play" name="rosbag_play" args="--clock $(env HOME)/rosbags/MR_sc1_ouster_1024x20_gw/otter27-ouster-scen1-1024-goodw/2021-02-25-14-25-37.bag -s 5 -r 0.3"/> 
    <!--- Sim Time -->
    <param name="/use_sim_time" value="true" />

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lego_loam)/launch/test.rviz" />

    <!--- TF -->
    <node pkg="tf" type="static_transform_publisher" name="camera_init_to_map"  args="0 0 0 1.570795   0        1.570795 /map    /camera_init 10" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0        /camera /base_link   10" />
    <node pkg="tf" type="static_transform_publisher" name="map_to_NED" args="-34.024, -74.552 -0.181 -2.388 0.014 -3.135  /NED /map   10" />

    <!--- LeGO-LOAM -->    
    <node pkg="lego_loam" type="imageProjection"    name="imageProjection"    output="screen"/>
    <node pkg="lego_loam" type="featureAssociation" name="featureAssociation" output="screen"/>
    <node pkg="lego_loam" type="mapOptmization"     name="mapOptmization"     output="screen"/>
    <node pkg="lego_loam" type="transformFusion"    name="transformFusion"    output="screen"/>
    <node pkg="lego_loam" type="groundTruth"        name="groundTruth"        output="screen"/>
    <node pkg="lego_loam" type="GNSSpath"        name="GNSSpath"        output="screen"/>

</launch>
